.advantages__title {
  font-family: $font-oswald;
  @include text(36px, 60px);
  color: $text-black;
  text-align: left;
}

.advantages__list {
  padding-top: 30px;
}

.advantages__wrapper {
  margin-bottom: 40px;
}

.advantages__item {
  display: flex;
  align-items: center;

  padding-bottom: 20px;
}

.advantages__icon {
  display: block;
  flex-shrink: 0;

  margin-right: 20px;

  position: relative;

  @include size(60px);
  background-color: $green;

  &::after {
    content: '';
    @include overlay;
  }
}

.advantages__icon--usefull::after {
  background: url(../../img/advantage-leaf@1x.png) no-repeat center;
  background-size: auto;
  @include size(26px, 29px);
}

.advantages__icon--powder::after {
  background: url(../../img/advantage-powder@1x.png) no-repeat center;
  background-size: auto;
  @include size(29px, 31px);
}

.advantages__icon--functional::after {
  background: url(../../img/advantage-dining@1x.png) no-repeat center;
  background-size: auto;
  @include size(23px, 30px);
}

.advantages__icon--result::after {
  background: url(../../img/advantage-clock@1x.png) no-repeat center;
  background-size: auto;
  @include size(26px, 31px);
}


// Планшет
@media (min-width: $width-tablet) {
  // .advantages__wrapper {
  //   margin-top: 50px;
  //   margin-bottom: 55px;
  // }

  .advantages {
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__wrapper {
    margin-bottom: 70px;
  }

  .advantages__title {
    @include text(60px, 60px);
    text-align: left;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    height: 570px;
    align-content: space-between;
  }

  .advantages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // padding-bottom: 40px;
    // margin-top: 30px;


    width: calc(100% / 2);

    &::before {
      position: absolute;
      left: 32%;
      top: -40px;

      font-family: $font-oswald;
      color: #f2f2f2;
      @include text(281px, 281px);
      z-index: -1;
    }
  }

  .advantages__item--one::before {
    content: '1';
  }

  .advantages__item--two::before {
    content: '2';
  }

  .advantages__item--three::before {
    content: '3';
  }

  .advantages__item--four::before {
    content: '4';
  }

  .advantages__text {
    width: 245px;
  }

  .advantages__icon {
    @include size(80px);
    margin-bottom: 35px;
  }
}

// Десктоп
@media (min-width: $width-desktop) {
  .advantages {
    border-bottom: none;
  }

  .advantages__list {
    height: auto;
    justify-content: space-between;
  }

  .advantages__item {
    width: 245px;

    &::before {
      left: 46%;
    }
  }

  .advantages__text br {
    display: block;
  }

  .advantages__title {
    text-align: left;
  }
}
