.button {
  display: block;

  // min-width: 280px;
  @include size(280px, 40px);

  font-family: $font-oswald;
  @include text;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: $white;

  background-color: $green;

  // &--catalog {
  //   position: relative;
  //   min-width: 240px;

  //   // padding-top: 20px;

  //   @include text(16px, 16px);
  //   text-align: left;
  //   color: $text-black;

  //   border-top: 1px solid rgba(0, 0, 0, 0.1);
  //   background-color: transparent;

  //   &::after {
  //     content: '';

  //     display: block;

  //     position: absolute;
  //     left: 100px;
  //     top: 22px;


  //     background: url(../../img/icon-right-arrow-long.svg) no-repeat center;
  //     @include size(25px, 12px);
  //   }
}

// &--all {
//   background-color: $grey;
//   color: $text-grey;
// }
// }

// .button__link {
//   margin: auto;
// }

@media (min-width: $width-tablet) {
  .button {
    @include size(249px, 40px);

    @include text(16px, 40px);

    // &--catalog {
    //   border: none;

    //   &::after {
    //     left: 110px;
    //     top: 15px;
    //   }
    // }
  }
}

@media (min-width: $width-desktop) {
  .button {
    width: 169px;
  }
}
