.catalogs__item {
  padding: 20px;
  margin-bottom: 20px;
}

@media (min-width: $width-tablet) {
  .catalogs__item {
    padding: 75px 285px 60px 50px;
    margin-bottom: 30px;
  }
}

@media (min-width: $width-desktop) {
  .catalogs__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .catalogs__item {
    padding: 50px;
    @include size(570px, 372px);
    margin-bottom: 70px;
  }
}
