.catalog__title {
  font-family: $font-oswald;
  color: $text-black;
  @include text(36px, 60px);
  text-align: left;
  // padding-left: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.catalog__list {
  border-top: $border;
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: $border;
}

@media (min-width: $width-tablet) {
  .catalog__title {
    @include text(60px, 60px);
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border: none;
  }

  .catalog__item {
    margin-top: 140px;
    padding-bottom: 40px;

    border: none;
  }
}

// @media (min-width: $width-desktop) {
//   .catalog__list {
//     padding: 0 110px;
//   }
// }
