.form__title {
  padding: 30px 0;

  font-family: $font-oswald;
  @include text(36px, 60px);
  text-align: left;
  color: $text-black;
}

.form__description {
  padding-bottom: 35px;

  font-family: $font-oswald;
  @include text;
  text-align: left;
  text-transform: uppercase;
  color: $text-black;
}

.form__line {
  padding: 30px 0;

  font-family: $font-oswald;
  @include text(24px, 24px);
  text-align: left;
  color: $text-black;
}

.form__input-wrap {
  margin-bottom: 14px;
}

// .form__input-wrap-all {
//   padding: 0 20px;
//   padding-top: 25px;
// }

.form__radio-wrap {
  padding-bottom: 25px;
}

.form__radio-border {
  padding: 0 20px;
  padding-top: 25px;

  border-top: $border;
  border-bottom: $border;
}

.form__label {
  font-family: $font-oswald;
  @include text(16px, 18px);
  text-align: left;
  text-transform: uppercase;
  color: $text-black;
}

.form__to-send {
  margin-top: 34px;
  margin-bottom: 20px;
}
