.form__title {
  padding: 30px 0;

  font-family: $font-oswald;
  @include text(36px, 60px);
  text-align: left;
  color: $text-black;
}

.form__description {
  padding-bottom: 35px;

  font-family: $font-oswald;
  @include text;
  text-align: left;
  text-transform: uppercase;
  color: $text-black;
}

.form__line {
  padding: 30px 0;

  font-family: $font-oswald;
  @include text(24px, 24px);
  text-align: left;
  color: $text-black;
}

.form__input,
.form__comment {
  border: 1px solid #cdcdcd;
  opacity: 0.5;
}

.form__input {
  height: 45px;
  flex-grow: 1;
  margin-left: 15px;
}

.form__comment {
  width: 100%;
}

.form__input-wrap,
.form__contact-wrap {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

// .form__input-wrap-all {
//   padding: 0 20px;
//   padding-top: 25px;
// }

.form__radio-wrap {
  padding-bottom: 25px;
}

.form__radio-border {
  padding-top: 25px;

  border-top: $border;
  border-bottom: $border;
}

.form__label {
  font-family: $font-oswald;
  @include text(16px, 18px);
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.form__checkbox-wrap-all {
  margin-bottom: 34px;
}

// .form__to-send {
//   margin-top: 34px;
//   margin-bottom: 20px;
// }

@media (min-width: $width-tablet) {
  .form__radio-border {
    border: $border;
  }

  .form__radio {
    margin-left: 28px;
  }

  .form__title {
    @include text (60px, 60px);
  }

  .form__line {
    @include text (36px, 36px);
  }

  .form__label {
    @include text (20px, 20px);
  }

  .form__description {
    @include text (20px, 30px);
    width: 325px;
  }

  .form__checkbox-wrap-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__checkbox-wrap {
    width: calc(100% / 2);
  }

  .form__required-wrapper {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $width-desktop) {

  .form__personal {
    display: flex;
    justify-content: space-between;
  }

  // .form__element:first-of-type,
  // .form__element:nth-of-type(2) {
  //   width: 50%;;
  // }

  .form__checkbox-wrap {
    width: 25%;
  }

  .form__to-send {
    width: 568px;
  }

  .form__contact-wrap-all {
    display: flex;
  }

  .form__contact-wrap {
    width: 50%;
  }
}
