.intro {
  display: block;
  margin-bottom: 200px;

  background: url(../../img/index-background-mobile@1x.jpg) no-repeat top,
    linear-gradient(to right, #65a93c, #63a73a);
  background-size: auto;
}

.intro__wrapper {
  height: 305px;
}

.intro__appearance {
  display: block;
  @include center;

  margin-top: 20px;
}

.intro__title {
  font-family: $font-oswald;
  @include text(36px, 36px);
  text-align: center;
  color: $text-white;

  padding-top: 30px;
}

.intro__description {
  font-family: $font-oswald;
  @include text(14px, 14px);
  text-align: center;
  text-transform: uppercase;
  color: $text-white;

  padding-top: 20px;
}


@media (min-width: $width-tablet) {
  .intro {
    position: relative;

    background: none;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
  }

  .intro__title {
    padding: 0 120px;
    padding-top: 60px;

    @include text(60px, 60px);
    text-align: left;
    color: $text-black;
  }

  .intro__description {
    padding: 0 120px;
    padding-top: 30px;

    @include text(20px, 20px);
    text-align: left;
    color: $text-black;
  }

  .intro__appearance {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .intro__program-choise {
    margin-left: 120px;
    margin-top: 50px;
    @include size(245px, 52px);
    font-size: 20px;
    line-height: 52px;
  }
}
