.page-header {
  min-height: 65px;
  border-bottom: 1px solid $grey;
}

.page-header__wrapper {
  min-height: 65px;
}

@media (min-width: $width-tablet) {
  .page-header {
    display: flex;
    justify-content: space-between;

    border: none;
  }

  .page-header__wrapper {
    justify-content: space-between;
    align-items: center;
  }
}
