.page-footer {
  padding: 40px 0 20px;
  background-color: $grey;
}

.page-footer__logo-image {
  display: block;
  @include center;
}

.page-footer__social {
  width: 280px;
  @include center;
  margin-top: 30px;
  margin-bottom: 20px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

