.page-main__advantages {
  // margin: 30px 20px 0 20px;
  border-bottom: 1px solid red;
}

// .page-main__select-program {
// padding: 0 20px;
// }

.page-main__results {
padding: 0 20px;
}

.page-main__contacts {
  padding: 25px 15px;
}

.page-main__optional {
  padding: 0 20px;
}

// .page-main__catalog {
//   padding: 0 20px;
// }
