.results {
  background-color: $grey;
}

.results__title {
  padding: 30px 0;

  font-family: $font-oswald;
  @include text(36px, 60px);
  color: $text-black;
}

.results__description {
  padding-bottom: 25px;
}

.results__count {
  font-family: $font-oswald;
  @include text(24px, 24px);
  text-transform: uppercase;
  color: $text-black;
}

.results__annotation {
  @include text(12px, 12px);
}

.results__cost {
  padding-bottom: 40px;

  font-family: $font-oswald;
  @include text(14px, 20px);
  text-align: center;
  text-transform: uppercase;
  color: $text-black;
}

.results__before,
.results__after {
  font-family: $font-oswald;
  @include text(16px, 20px);
  text-transform: uppercase;
  color: $text-black;
}
