// .social__item {
//   position: relative;
//   display: inline-block;

//   @include size(20px);

//   &::before {
//     content: '';
//     @include overlay;
//   }
// }

.social {
  display: flex;
  justify-content: center;
  align-items: center;

}

.social__item {
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }
}

.social__link--vk {
  display: block;
  background: url(../../img/icon-vk.svg) no-repeat center;
  background-size: auto;
  @include size(22px, 12px);
}

.social__link--insta {
  display: block;
  background: url(../../img/icon-insta.svg) no-repeat center;
  background-size: auto;
  @include size(17px);
}

.social__link--fb {
  display: block;
  background: url(../../img/icon-fb.svg) no-repeat center;
  background-size: auto;
  @include size(10px, 19px);
}

@media (min-width: $width-tablet) {
  .social__link--vk {
    @include size(30px, 16px);
  }

  .social__link--insta {
    @include size(23px);
  }

  .social__link--fb {
    @include size(14px, 28px);
  }
}
