$width-mobile: 320px;
$width-tablet: 768px;
$width-desctop: 1440px;

$text-grey: #444444;
$text-black: #111111;
$text-white: #ffffff;

$green: #68b738;
$grey: #f2f2f2;
$white: #ffffff;

$border: solid 1px #ededed;

$font-main: 'Arial', sans-serif;
$font-oswald: 'Oswald', 'Verdana', sans-serif;
